<%- include('partials/header.ejs') %>
<!-- ======= Hero Section ======= -->
  <section id="hero">
      <div class="hero-container">
          <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
              
              <div class="carousel-inner" role="listbox">
                  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(http://localhost:5000/assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Cravings</span> Restaurant</h2>
                <p class="animate__animated animate__fadeInUp">We provide one of the best continental, chinese and italian cuisines present in the market.</p>
                <div>
                  <a href="/menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Menu</a>
                  <a href="/order" class="btn-book animate__animated animate__fadeInUp scrollto">Order</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">    

    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Why choose <span>Our Restaurant</span></h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Quality Food</h4>
              <p>We do not compromise over the quality of our food. As quality matters the most.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Organic Ingredients</h4>
              <p>All the ingredients used in our recipies are purely organic and they are extracted on daily basis.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Mouthwatering Taste</h4>
              <p>Once you try our food, literally there's no way going back.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Whu Us Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="http://localhost:5000/assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
                <h3>Web Masters</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Cravings restaurant is one of its kind restaurant in the market. We are the pioneers of providing all the top cusines available in the market right now.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->


  </main>

  <%- include('partials/footer.ejs') %>