<%- include('partials/header.ejs') %>
<section id="events" class="events">
    <div class="container">

      <br>
      <div class="section-title mt-lg-5">
        <h2>Organize Your <span>Events</span> in our Restaurant</h2>
      </div>

      <div class="events-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="assets/img/event-birthday.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Birthday Parties</h3>
                <div class="price">
                  <p><span>Rs.10000</span></p>
                </div>
                <p class="fst-italic">
                  We can arrange your birthdays as per your requirements.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Customized cake for your birthday.</li>
                  <li><i class="bi bi-check-circle"></i> Stage decor and lights.</li>
                  <li><i class="bi bi-check-circle"></i> Live music.</li>
                </ul>
               
              </div>
            </div>
          </div><!-- End testimonial item -->


          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img src="assets/img/event-custom.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Custom Parties</h3>
                <div class="price">
                  <p><span>Rs.15000</span></p>
                </div>
                <p class="fst-italic">
                  We can arrange your parties as per your requirements and instructions. You can customize each and everything in this package.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Customized stage for party.</li>
                  <li><i class="bi bi-check-circle"></i> Customized food items</li>
                  <li><i class="bi bi-check-circle"></i> Customized dress code</li>
                </ul>
               
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>
  <%- include('partials/footer.ejs') %>