<%- include('partials/header.ejs') %>
<section id="menu" class="menu" style="background-image: url(http://localhost:5000/assets/img/bg.jpg);">
    <div class="container">

      <br>
      <div class="section-title mt-md-5">
        <h2 style="color: white;">Check our tasty <span>Menu</span></h2>
      </div>

      

      <div class="row menu-container">

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a >Chicken Biryani</a><span><b>Rs.300</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Spicy Rice and chicken served with salad and raita.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a >Beef Biryani</a><span><b>Rs.350</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Spicy Rice and beef served with salad and raita.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a >Afghan Pulao</a><span><b>Rs.350</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;" >
            Special Afghani Pulao to enrich your taste buds.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a>Chicken Karahi</a><span><b>Rs.1200</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Chicken, spices, tomatoes and yogurt.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a >Mutton Karahi</a><span><b>Rs.2200</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients"style="color: white;">
            Mutton, spices, tomatoes and yogurt.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a >Chicken Boneless Karahi </a><span><b>Rs.1400</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Boneless chicken, spices, tomatoes and yogurt.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a >Chicken Boneless Makhni Karahi</a><span><b>Rs.1500</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Boneless chicken, spices, tomatoes, butter and yogurt.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <div class="menu-content">
            <a >Chicken Seekh Kebab</a><span><b>Rs.400</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Freshly made chicken seekh kebabs served with sauce.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a >Beef Seekh Kebab</a><span><b>Rs.600</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Freshly made beef seekh kebabs served with sauce.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a >Chicken Malai Boti</a><span><b>Rs.550</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Freshly made chicken malai boti served with sauce.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a >Chicken Achari Boti</a><span><b>Rs.550</b></span><a href="/order" class="book-a-table-btn scrollto">Order</a>
          </div>
          <div class="menu-ingredients" style="color: white;">
            Freshly made chicken achari boti served with sauce.
          </div>
          <div class="reviews" style="color: white">
            <a href="/reviews">Comment and Reviews</a>
          </div>
        </div>

      </div>

    </div>
  </section>
  <%- include('partials/footer.ejs') %>