<%- include('partials/header.ejs') %>
<section id="book-a-table" class="book-a-table" style="background-image: url(http://localhost:5000/assets/img/contactBG.jpg);">
    <div class="container">

      <br>
      <div class="section-title mt-lg-5">
        <h2>Place your <span>Order</span></h2>
      </div>
      <%- include('partials/_orderForm.ejs') %>      
    </div>
  </section>
  <%- include('partials/footer.ejs') %>