<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row mt-2">
      <div class="col-md-5 m-auto" style="background-color: yellow;">
        <div class="card card-body" style="background-color: black;">
          <h1 class="text-center mb-0">
            <img src="http://localhost:5000/assets/img/cravings.png" style="width:200px;">
          </img></h1>
            <h1 class="text-center mb-2"><b>Email has been sent to your email.</b></h1>
            <h2 class="text-center mb-2"><b>Click on the link given to change password.</b></h2>
        </div>
      </div>
    </div>
    </body>
</html>

<style>
body {
        width: 100%;
        align-items : center;
        height: 100%;
          
  
        background-position: center center;
  
        background-repeat: no-repeat;
  
        
        background-attachment: fixed;
  
        
        background-size: cover;
  
        background-color: green;
        overflow: hidden;
  
        background-image:url('http://localhost:5000/assets/img/background-login.jpg');
        font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
        color: azure;
    }


</style>