<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
      <i class="bi bi-phone d-flex align-items-center"><span>+92 1234 5678 00</span></i>
      <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sun: 11:00 AM - 23:00 PM</span></i>
    </div>
</section>
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="/dashboard">Cravings</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/dashboard">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="/specials">Specials</a></li>
          <li><a class="nav-link scrollto" href="/events">Events</a></li>
          <li><a class="nav-link scrollto" href="/chefs">Chefs</a></li>
          <li><a class="nav-link scrollto" href="/gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Certification</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              </li>
              <li><a href="/dropdown1">Punjab Food Authority Certificate</a></li>
              <li><a href="/dropdown2">Food Hygiene Certificate</a></li>
             
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/order" class="book-a-table-btn scrollto">Order</a>

    </div>
</header>
