<form action="/reviews/create" method="POST" id="reviews">
    <br class="row">
        <div class="col-lg-4 col-md-6 form-group">
            <h2>Comment</h2>
          <input type="text" name="food_review" class="form-control" id="food_review" placeholder="Type a comment">
          <br>
          <input type="text" name="food_rating" class="form-control" id="food_rating" placeholder="Rate it out of 10.">  
          <button class="comment-btn scrollto">Submit</button>
        </div>
        
        
        <br></br>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <h2>Reviews</h2>
            <table>
              <thead>
                <tr>
                <th>Food Review</th>
                <th>Food Rating</th>
                </tr>
              </thead>
              </table>
          <ul>
             
          </ul>
        </div>
</form> 