<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cravings</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>

<body style="background-color:#0D3B95 ;">

    <h1>Admin Panel</h1>
    <nav>
        <ul>
            <a href="/adminUI/adminDashBoard"><li>Dashboard</li></a>
            <a href="/order/display_order/1"><li>Orders</li></a>
            <a href="/adminUI/addProduct"><li>Products</li></a>
            <a href="#"><li>Users</li></a>
            <a href="#"><li>About</li></a>
        </ul>
    </nav>
