<%- include('partials/adminHeader.ejs') %>

    <div class="float-container">

        <div class="float-child">
            <p>
                <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-cravings-ynfck/embed/charts?id=62968d77-6fe9-4db2-85c8-b9b050a7cd1e&maxDataAge=10&theme=dark&autoRefresh=true"></iframe>
            </p>
        </div>
        
        <div class="float-child">
            <p>
                <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-cravings-ynfck/embed/charts?id=62968b07-cd31-472a-8fe9-a9525f79d3ba&maxDataAge=10&theme=dark&autoRefresh=true"></iframe>
            </p>
        </div>
    
    </div>
